/* @font-face */

@font-face {
   font-family: "Poppins";
   src:url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
   font-family: "Gilroy";
   src:url(../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
   font-family: "Inter";
   src:url(../fonts/Inter/static/Inter-Regular.ttf);
}